<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <span class="material-icons">home</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link"  routerLink="/perfil" routerLinkActive="active">Perfil</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAdmin() ==='ADMIN'">
          <a class="nav-link disabled"  aria-disabled="true">Amigos</a>
        </li>
        <li class="nav-item" >
        </li>
        <li class="nav-item" >
        </li>
      </ul>
        <a class="btn btn-outline-success ms-2 w-20" *ngIf="!authService.isLoggedIn()" routerLink="/login" routerLinkActive="active">Login</a>
        <a class="btn btn-outline-danger ms-2 w-20" *ngIf="authService.isLoggedIn()"(click)="logout()">Logout</a>
    </div>
  </div>
</nav>