<div class="container my-4">
  <div class="row justify-content-center g-3">
    <div class="col-auto">
      <a class="btn btn-success d-flex align-items-center px-4 py-2 shadow-sm"
         routerLink="/dashboard"
         routerLinkActive="active">
        <span class="material-icons me-2">dashboard</span>
        Dashboard usuarios
      </a>
    </div>
    <div class="col-auto">
      <a class="btn btn-warning d-flex align-items-center px-4 py-2 shadow-sm"
         routerLink="/editor-tags"
         routerLinkActive="active">
        <span class="material-icons me-2">label</span>
        Editor tags
      </a>
    </div>
    <div class="col-auto">
      <a class="btn btn-info d-flex align-items-center px-4 py-2 shadow-sm"
         routerLink="/metricas"
         routerLinkActive="active">
        <span class="material-icons me-2">bar_chart</span>
        Métricas
      </a>
    </div>
  </div>
</div>