<app-navbar></app-navbar>
<app-menu-admin></app-menu-admin>
<table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">#</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
      </tr>
      <tr *ngFor="let usuario of usuarios; let i = index">
        <th scope="row">{{i}}</th>
        <td>{{usuario.nombre_usuario}}</td>
        <td>{{usuario.apellidos}}</td>
        <td>{{usuario.email}}</td>
        <td>
        <button class="btn btn-info btn-sm"
          (click)="editarUsuario(usuario.nombre_usuario)"
          [attr.data-nombre]="usuario.nombre_usuario">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="btn btn-danger btn-sm"
          (click)="eliminarUsuario(usuario.nombre_usuario)"
          [attr.data-nombre]="usuario.nombre_usuario">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      </tr>
    </tbody>
  </table>
<p>Lista usuarios works</p>

<span class="material-symbols-outlined">
edit
</span>